* {
    padding: 0;
    margin: 0;
}

p {
    color: crimson;
}

.top {
    height: 20%;
    color: white;
    font-family:'Calibri', sans-serif;
    background-color: rgb(48, 184, 89);
    /*rgb(69, 185, 94);*/
}

.logo {
    width: 30%;
    display: block;
    float: left;
    /**/
}

.logo > img {
    padding-left: 11%;
    padding: 45px;
}

.services {
    padding: 40px;
    /**/
}

.sections {
    font-family:'Calibri', sans-serif;
    font-weight: bold;
    /**/
}

.arrow {
    margin-bottom: 3px;
}

.sections > table {
    margin: 10px auto;
}

.content {
    width: 80%;
    /**/
}

.content > .bigImage > img {
    max-width: 100%;
}

.content > .prominent {
    /**/
}

.content > documents {
    /**/
}

.footer {
    /*
    */
}

tr, td {
    padding: 10px;
}

